<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @happy_moment.content %>
</p>

<p>
  <b>Lat:</b>
  <%= @happy_moment.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @happy_moment.lon %>
</p>


<%= link_to 'Edit', edit_happy_moment_path(@happy_moment) %> |
<%= link_to 'Back', happy_moments_path %>
